PORT=
JWT_PRIVATE_KEY=

CLOUDINARY_SECRET=
CLOUDINARY_API=
CLOUDINARY_CLOUD_NAME=

NOTIFICATION_EMAIL=

JWT_REFRESH_TOKEN_KEY=
JWT_SECRET=
JWT_ADMIN_SECRET=
JWT_EXPIRES=
JWT_REFRESH_EXPIRES=

NODE_ENV=development
LOG_FOLDER=logs/
LOG_FILE=%DATE%-app-log.log
LOG_LEVEL=error

ENCRYPTION_KEY=

DB_HOST=
DB_USER=
DB_PASS=
DB_DATABASE=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

DOMAIN_NAME=